<html>
	<head>
	<title>Film</title>
	</head>
        <div class="film">
		{% for film in film %} 
            <p>published: {{ film.Year }}</p>
            <h1>Title : <a href="\film\{{ Movie.id }}">{{ film.Title }}</a></h1>
            <p>Description : {{ film.Description|linebreaksbr }}</p>
            {% for actor in film.actor.all %} 
                <p>Actor : {{ actor.Actor_name }} </p>
            {% endfor%}
            {% for genre in film.genre.all %}
                <p>Genre : {{ genre.Type }}</p> 
            {% endfor %}
		{% endfor %}
		
		</div>
	</body>
</html>